* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.box {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 0 auto;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.box:hover {
  transform: scale(1.5) rotate(360deg);
}
